.my-video-container{
    max-width: 70vw;
    width: auto;
    height: auto;
    max-height: 70vh;
    aspect-ratio: "16:8";
}

/* .my-video-container div {
    max-width: 70vw;
    max-height: 70vh;
} */
/* @media screen and (max-width:800px) {
    .my-video-container{
        max-width:auto !important;
        width: 100vw;
    }
} */
  
