.videoDetailsContainer {
  container-type: inline-size;
}

.subVideoDetailsContainer {
  padding: 2vmax;
  display: flex;
}
.leftContainer {
  width: 60vw;
}

.playerContainer {
  width: 100%;
  height: auto;
  max-height: 100vh;
  border-radius: 15px;
  overflow: hidden;
}
.playerContainer + h1 {
  text-transform: capitalize;
  font-size: large;
  font-weight: bolder;
}

.videoPlyer {
  max-height: 100vh;
}

.small-text {
  font-size: x-small;
  margin-bottom: 0.3vmax;
}

.videoDetailsList {
  width: 40vw;
  height: auto;
  padding: 5px 0.5rem;
}
.videoDetailsListSubContainer {
  width: 100%;
  height: 100%;
}
.videoDetailsOwner {
  display: flex;
  align-items: center;
}

.videoDetailsOwner > span:nth-child(1) {
  width: 50%;
  display: flex;
  align-items: center;
}

.videoDetailsOwner > span:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.videoDetailsOwner > h2 {
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.videoDetailsAv {
  cursor: pointer;
}

.videoDetailsListItem {
  display: flex;
  margin-bottom: 0.6vmax;
}

.videoDetailsListImgContainer {
  width: 35%;
  /* height: 8vmax; */
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 5px;
}

.videoDetailsItemThumbnail {
  width: 100%;
  aspect-ratio: 16 / 10;
}

.videoDetailsListDetails {
  display: flex;
  flex: 1;
  position: relative;
}

.videoDetailsListImgContainer > span {
  z-index: 2;
  position: absolute;
  right: 5px;
  bottom: 0px;
  color: white;
  font-size: x-small;
  font-weight: 600;
  padding: 1px 0.1vmax;
  background: rgba(12, 12, 12, 0.739);
  margin: 5px 0px;
  border-radius: 5px;
}

.videoDetailsListDetails > span > p > h3 {
  font-weight: 600;
  max-height: 2;
  display: block;
  overflow: hidden;
  font-size: small;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3.4em;
  line-height: 1.7em;
  text-transform: capitalize;
  /* min-height: 3.4em; */
}

.userInputSubContainer {
  display: flex;
}

.likeContainer {
  position: relative;
  display: flex;
  height: 100%;
}

.likeContainer > span {
  display: flex;
  align-items: center;
  background: rgb(218, 217, 217);
  padding: 0.5vmax;
  cursor: pointer;
}

.likeContainer > span > svg + pre {
  margin: 0px 10px;
}

.likeContainer > span > svg {
  font-size: x-large;
}

.likeContainer > span:nth-child(1) {
  border-radius: 100px 0px 0px 100px;
}
.likeContainer > div {
  width: 1px;
  height: 100%;
  position: absolute;
  margin-left: 50%;
  padding: 3% 0px;
}

.likeContainer > div > div {
  width: 100%;
  height: 100%;
  background: gray;
}

.likeContainer > span:nth-child(3) {
  border-radius: 0px 100px 100px 0px;
}

.shareContainer {
  display: flex;
  align-items: center;
  margin: 0px 1rem;
  padding: 0.5vmax;
  border-radius: 100px;
  cursor: pointer;
}

.shareContainer :nth-child(1) {
  font-size: x-large;
}

.shareContainer > p {
  font-size: medium;
  padding: 0px 5px;
  text-align: center;
}
.commentBottomContainer {
  display: none;
}
.commentContainer {
  margin-top: 1vmax;
}

.descriptionContainer {
  background: rgba(128, 128, 128, 0.275);
  padding: 0.2vmax 0.5vmax;
  border-radius: 10px;
  margin: 0.4vmax 0px;
  min-height: 40px;
}

.descriptionContainer {
  font-size: small;
}

@container (max-width:1000px) {
  .leftContainer {
    width: 100vw;
  }
  .playerContainer + h1 {
    padding-left: 4px;
  }
  .subVideoDetailsContainer {
    padding: 2px;
  }
  .playerContainer {
    border-radius: 0px;
  }
  .subVideoDetailsContainer {
    flex-direction: column;
  }
  .videoDetailsList {
    width: 100vw;
    padding: 2px;
    margin: 1vmax 0px;
  }
  .videoDetailsOwner {
    flex-direction: column;
    align-items: initial;
    padding-left: 4px;
  }
  .videoDetailsOwner > span:nth-child(1) {
    width: 100%;
    margin: 8px auto;
  }

  .videoDetailsOwner > span:nth-child(2) {
    width: 100%;
  }
  svg {
    font-size: medium;
  }
  .videoDetailsListDetails > span > p > h3 {
    max-height: 1.7em;
  }
  .commentContainer {
    display: none;
  }
  .commentBottomContainer {
    display: block;
  }
}
