.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin: auto;
}
.cart > h1 {
  padding-top: 5vmax;
  padding-bottom: 1vmax;
  font-size: 2vmax;
}
.cartContainer {
  border-radius: 5px;
  width: 90vw;
  display: flex;
  padding: 1vmax;
  background-color: rgb(238, 235, 235);
  margin: 1vmax 0px;
  text-align: center;
}
.cartB_0 {
  display: flex;
  width: 30%;
}
.cartB_0 > img {
  width: 6vmax;
  height: 6vmax;
  min-width: 6vmax;
  object-fit: contain;
  align-self: center;
}
.cartB_0_1 {
  padding: 0px 1vmax;
  font-size: 1.2vmax;
}

.cartB_0_1 > span {
  cursor: pointer;
  color: orangered;
}

.cartB_1_1 > h2,
.cartB_1_2 > h2,
.cartB_1_3 > h2 {
  padding: 1vmax;
}

.cartB_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.total {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  border-top: 5px solid orangered;
  padding-top: 1vmax;
  font-size: 1.6vmax;
  color: orange;
}

.cartZero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1.5vmax;
  text-align: center;
}
.cartZero > p {
  padding: 2vmax;
}
.cartZero > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutBtn {
  align-self: flex-end;
  background-color: orange;
  padding: 1vmax 3vmax;
  margin: 2vmax 0px;
  border-radius: 30px;
  color: white;
}
@media screen and (max-width: 800px) {
  .cartContainer {
    flex-direction: column;
  }
  .cartB_0 {
    width: 100%;
  }

  .cartB_0 > img {
    width: 12vmax;
    height: 12vmax;
    min-width: 12vmax;
  }
  .cartB_0_1 {
    font-size: 1.4vmax;
  }
  .total {
    font-size: 3vmax;
  }
}

@media screen and (max-width: 600px) {
  .cartB_0 > img {
    width: 12vmax;
    height: 12vmax;
    min-width: 12vmax;
  }
}
